.card {
    .table {
        height: 100%;
        tr:last-child td {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.card {
    .card-body {
        .border {
            min-height: 250px;
        }
        .border-neutral-40-2 {
            min-height: 250px;
        }

        .form-group {
            .border {
               min-height: 20vh;
           }
           .border-neutral-40-2 {
               min-height: 20vh;
           }
        }
    }
}

.table {
    thead tr th {
        font: $text-m-medium;
    }
    tbody tr td {
        font: $text-s-medium;
    }
}

ol {
    &.my-breadcumb {
        @include flex-box($align: center);
        font: $text-m-medium;

        .my-breadcrumb-item {
            &.parent {
                font: $text-l-medium;
            }
        }
    }
} 

// For Icon
.icon-normal {
    width: 20px;
    height: 20px;
}


/*  button Styles  */


.btn-edit {
    width: 75px;
    height: 20px;
    background-color: #f7f7f7;
    font-size: 12px;
    border: 1px solid #b8dbca;
    color: #43936c;
    padding: 3px 8px;
    font-weight: 500; 
}

.btn-status {
    background: #F5F5FF; 
    border: 1px solid #B8DBCA; 
    padding: 3px 8px; 
    font-size: 12px; 
    line-height: 16px;
    font-weight: 500;
}

.btn-delete {
    width: 75px;
    height: 20px;
    background-color: #fff4f2;
    font-size: 12px;
    border: 1px solid #eeb4b0;
    color: #cb3a31;
    padding: 3px 8px;
    font-weight: 500;
}

.modal-add-title {
    font-size: 20px;
    text-align: center;
}

.btn-add-data {
background-color: #3131a3;
}

.tags-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    height: 20px;
    border-radius: 6px;
}

.tags {
    @include flex-box(center, center, row);
    padding: 3px 8px;
    gap: 10px;

    height: 20px;
    border-radius: 6px;

    &.tags-primary {
        background-color: $primary-focus;
        border: 1px solid $primary-border;
    }

    &.tags-danger {
        background-color: $danger-focus;
        border: 1px solid $danger-border;      
    }

    &.tags-warning {
        background-color: $warning-focus;
        border: 1px solid $warning-border;      
    }

    &.tags-info {
        background-color: $info-focus;
        border: 1px solid $info-border;      
    }

    &.tags-success {
        background-color: $success-focus;
        border: 1px solid $success-border;      
    }
}

.sidebar {
   // border-right: 2px solid $neutral-50;
   // background: #55D0FF; 
   background: #3a7bd5;
   // background-color: lighten($primary-hover, 10);
   border-radius: 0 25px 25px 0; 
   // border: 2px solid #C2C2C2; 
   // border-left: 0;

   .sidebar-header {
      @include flex-box(center, center, row);
   }

   .sidebar-body {
      font: $text-m-medium;
      padding: 20px 0;
      color: $neutral-20;

      .sidebar-menu {
         position: relative;
         display: flex;
         flex-direction: column;
         align-items: center;
         font: $text-m-medium;
         padding: 2px 0;
         margin: 3px 0;         

         .menu {
            position: relative;
            display: flex;
            justify-content: start;
            align-items: center;
            height: 40px;
            width: 100%;
            padding: 0 20px;
            cursor: pointer;
            border-radius: 10px 0 0 10px;

            img {
                filter: invert(100%);
            }

            span {
               display: flex;
               justify-content: start;
               align-items: center;
               min-width: 80%;
               max-width: 85%;
               height: 100%;
               color: $neutral-20;                
            }

            &:hover, &.active {
               @include side-menu(false);

               & img {
                filter: invert(0%);
               }
                & span {
                  color: $neutral-100;
                }
            }
         }

         .sub-menu {
            @include flex-box(start, start, column);
            width: 100%;
            padding: 14px 0 14px 12px;
            gap: 2px;            

            a {
               width: 100%;
               height: 100%;
               padding: 5px 0 5px 46px;
               color: $neutral-20;
               font: $text-m-regular;
               border-radius: 10px 0 0 10px;
               transition: .3s;

               &:hover{
                  @include side-menu(false);
               }

               &.active {
                  @include side-menu(true);

                  &::before {
                    content: "";  
                    right: -9.5px;
                    top: -30px;
                    display: block;
                    position: absolute;
                    border-right: 9px solid #fff;
                    border-bottom: 9px solid #fff;
                    width: 39px;
                    height: 39px;
                    border-bottom-right-radius: 30px;
                  }
                  
                  &::after {
                    content: "";
                    right: -11.5px;
                    bottom: -30px;
                    display: block;
                    position: absolute;
                    background: ta;
                    border-right: 9px solid #fff;
                    border-top: 9px solid #fff;
                    width: 39px;
                    height: 39px;
                    border-top-right-radius: 30px;
                  }
               }
            }                
         }
      }
   }
}

.load-state {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    background-color: $primary-surface;

    .load-state-item {
        color: $neutral-90;
        font-size: 40px;
        animation: rotate 2s infinite;
    }
}

.indicator-read {
    display: inline-block;
    background: $neutral-70;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    box-shadow: $shadow-2;
}
.indicator-unread {
    display: inline-block;
    background: $success-main;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    box-shadow: $shadow-2;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}