$neutral-10: #FFFFFF;
$neutral-20: #F5F5F5;
$neutral-30: #EDEDED;
$neutral-40: #E0E0E0;
$neutral-50: #C2C2C2;
$neutral-60: #9E9E9E;
$neutral-70: #757575;
$neutral-80: #616161;
$neutral-90: #424242;
$neutral-100: #0A0A0A;

$primary-main: #4C4DDC;
$primary-surface: #DFE0F3;
$primary-border: #F5F5FF;
$primary-hover: #3334CC;
$primary-pressed: #21217A;
$primary-focus: #4C4DDC33;

$danger-main: #CB3A31;
$danger-surface: #FFF4F2;
$danger-border: #EEB4B0;
$danger-hover: #BD251C;
$danger-pressed: #731912;
$danger-focus: #CB3A3133;

$warning-main: #CD7B2E;
$warning-surface: #FFF9F2;
$warning-border: #EECEB0;
$warning-hover: #BF6919;
$warning-pressed: #734011;
$warning-focus: #CD7B2E33;

$success-main: #43936C;
$success-surface: #F7F7F7;
$success-border: #B8DBCA;
$success-hover: #367A59;
$success-pressed: #20573D;
$success-focus: #43936C33;

$info-main: #3267E3;
$info-surface: #F0F3FF;
$info-border: #B1C5F6;
$info-hover: #114CD6;
$info-pressed: #11317D;
$info-focus: #3267E333;

$dark-main: #424242;
$dark-surface: #C2C2C2;
$dark-border: #616161;
$dark-hover: #0A0A0ADD;
$dark-pressed: #0A0A0A;
$dark-focus: #42424233;

$shadow-1: 0 1px 2px #0000001f;
$shadow-2: 0 4px 8px #0000001a;
$shadow-3: inset 1px 2px 2px rgba(0, 0, 0, 0.08);

$shadow-input-group-text: inset -1px 2px 2px rgba(0, 0, 0, 0.08);
$border-invalid-input: #BD251C;


$header-s: 500 20px/28px 'Inter', sans-serif;
$header-m: 500 28px/36px 'Inter', sans-serif;
$header-l: 500 36px/44px 'Inter', sans-serif;
$text-s-regular: 400 12px/16px 'Inter', sans-serif;
$text-s-medium: 500 12px/16px 'Inter', sans-serif;
$text-m-regular: 400 14px/20px 'Inter', sans-serif;
$text-m-medium: 500 14px/20px 'Inter', sans-serif;
$text-l-regular: 400 16px/24px 'Inter', sans-serif;
$text-l-medium: 500 16px/24px 'Inter', sans-serif;