.bg-neutral-100 {
    background-color: $neutral-100 !important;
 }
 .bg-neutral-90 {
    background-color: $neutral-90 !important;
 }
 .bg-neutral-80 {
    background-color: $neutral-80 !important;
 }
 .bg-neutral-70 {
    background-color: $neutral-70 !important;
 }
 .bg-neutral-60 {
    background-color: $neutral-60 !important;
 }
 .bg-neutral-50 {
    background-color: $neutral-50 !important;
 }
 .bg-neutral-40 {
    background-color: $neutral-40 !important;
 }
 .bg-neutral-30 {
    background-color: $neutral-30 !important;
 }
 .bg-neutral-20 {
    background-color: $neutral-20 !important;
 }
 .bg-neutral-10 {
    background-color: $neutral-10 !important;
 }
 
 .bg-primary-main {
    background-color: $primary-main !important;
 }
 .bg-primary-surface {
    background-color: $primary-surface !important;
 }
 .bg-primary-border {
    background-color: $primary-border !important;
 }
 .bg-primary-hover {
    background-color: $primary-hover !important;
 }
 .bg-primary-pressed {
    background-color: $primary-pressed !important;
 }
 .bg-primary-focus {
    background-color: $primary-focus !important;
 }
 
 .bg-success-main {
    background-color: $success-main !important;
 }
 .bg-success-surface {
    background-color: $success-surface !important;
 }
 .bg-success-border {
    background-color: $success-border !important;
 }
 .bg-success-hover {
    background-color: $success-hover !important;
 }
 .bg-success-pressed {
    background-color: $success-pressed !important;
 }
 .bg-success-focus {
    background-color: $success-focus !important;
 }
 
 .bg-danger-main {
    background-color: $danger-main !important;
 }
 .bg-danger-surface {
    background-color: $danger-surface !important;
 }
 .bg-danger-border {
    background-color: $danger-border !important;
 }
 .bg-danger-hover {
    background-color: $danger-hover !important;
 }
 .bg-danger-pressed {
    background-color: $danger-pressed !important;
 }
 .bg-danger-focus {
    background-color: $danger-focus !important;
 }
 
 .bg-warning-main {
    background-color: $warning-main !important;
 }
 .bg-warning-surface {
    background-color: $warning-surface !important;
 }
 .bg-warning-border {
    background-color: $warning-border !important;
 }
 .bg-warning-hover {
    background-color: $warning-hover !important;
 }
 .bg-warning-pressed {
    background-color: $warning-pressed !important;
 }
 .bg-warning-focus {
    background-color: $warning-focus !important;
 }
 
 .bg-info-main {
    background-color: $info-main !important;
 }
 .bg-info-surface {
    background-color: $info-surface !important;
 }
 .bg-info-border {
    background-color: $info-border !important;
 }
 .bg-info-hover {
    background-color: $info-hover !important;
 }
 .bg-info-pressed {
    background-color: $info-pressed !important;
 }
 .bg-info-focus {
    background-color: $info-focus !important;
 }
 
 .bg-dark-main {
    background-color: $dark-main !important;
 }
 .bg-dark-surface {
    background-color: $dark-surface !important;
 }
 .bg-dark-border {
    background-color: $dark-border !important;
 }
 .bg-dark-hover {
    background-color: $dark-hover !important;
 }
 .bg-dark-pressed {
    background-color: $dark-pressed !important;
 }
 .bg-dark-focus {
    background-color: $dark-focus !important;
 }