@for $border from 1 to 10 {
    .border-neutral-100-#{$border} {
        border: #{$border}px solid $neutral-100 !important;
        @include border-create(#{$border}px solid $neutral-100 !important)
    }
    .border-neutral-90-#{$border} {
        border: #{$border}px solid $neutral-90 !important;
    }
    .border-neutral-80-#{$border} {
        border: #{$border}px solid $neutral-80 !important;
    }
    .border-neutral-70-#{$border} {
        border: #{$border}px solid $neutral-70 !important;
    }
    .border-neutral-60-#{$border} {
        border: #{$border}px solid $neutral-60 !important;
    }
    .border-neutral-50-#{$border} {
        border: #{$border}px solid $neutral-50 !important;
    }
    .border-neutral-40-#{$border} {
        border: #{$border}px solid $neutral-40 !important;
    }
    .border-neutral-30-#{$border} {
        border: #{$border}px solid $neutral-30 !important;
    }
    .border-neutral-20-#{$border} {
        border: #{$border}px solid $neutral-20 !important;
    }
    .border-neutral-10-#{$border} {
        border: #{$border}px solid $neutral-10 !important;
    }
}
