// Text Color
.text-neutral-100 {
    color: $neutral-100 !important;
 }
 .text-neutral-90 {
    color: $neutral-90 !important;
 }
 .text-neutral-80 {
    color: $neutral-80 !important;
 }
 .text-neutral-70 {
    color: $neutral-70 !important;
 }
 .text-neutral-60 {
    color: $neutral-60 !important;
 }
 .text-neutral-50 {
    color: $neutral-50 !important;
 }
 .text-neutral-40 {
    color: $neutral-40 !important;
 }
 .text-neutral-30 {
    color: $neutral-30 !important;
 }
 .text-neutral-20 {
    color: $neutral-20 !important;
 }
 .text-neutral-10 {
    color: $neutral-10 !important;
 }
 .text-primary-main {
    color: $primary-main !important;
 }
 .text-primary-surface {
    color: $primary-surface !important;
 }
 .text-primary-border {
    color: $primary-border !important;
 }
 .text-primary-hover {
    color: $primary-hover !important;
 }
 .text-primary-pressed {
    color: $primary-pressed !important;
 }
 .text-primary-focus {
    color: $primary-focus !important;
 }
 
 .text-success-main {
    color: $success-main !important;
 }
 .text-success-surface {
    color: $success-surface !important;
 }
 .text-success-border {
    color: $success-border !important;
 }
 .text-success-hover {
    color: $success-hover !important;
 }
 .text-success-pressed {
    color: $success-pressed !important;
 }
 .text-success-focus {
    color: $success-focus !important;
 }
 
 .text-danger-main {
    color: $danger-main !important;
 }
 .text-danger-surface {
    color: $danger-surface !important;
 }
 .text-danger-border {
    color: $danger-border !important;
 }
 .text-danger-hover {
    color: $danger-hover !important;
 }
 .text-danger-pressed {
    color: $danger-pressed !important;
 }
 .text-danger-focus {
    color: $danger-focus !important;
 }
 
 .text-warning-main {
    color: $warning-main !important;
 }
 .text-warning-surface {
    color: $warning-surface !important;
 }
 .text-warning-border {
    color: $warning-border !important;
 }
 .text-warning-hover {
    color: $warning-hover !important;
 }
 .text-warning-pressed {
    color: $warning-pressed !important;
 }
 .text-warning-focus {
    color: $warning-focus !important;
 }
 
 .text-info-main {
    color: $info-main !important;
 }
 .text-info-surface {
    color: $info-surface !important;
 }
 .text-info-border {
    color: $info-border !important;
 }
 .text-info-hover {
    color: $info-hover !important;
 }
 .text-info-pressed {
    color: $info-pressed !important;
 }
 .text-info-focus {
    color: $info-focus !important;
 }
 
 .text-dark-main {
    color: $dark-main !important;
 }
 .text-dark-surface {
    color: $dark-surface !important;
 }
 .text-dark-border {
    color: $dark-border !important;
 }
 .text-dark-hover {
    color: $dark-hover !important;
 }
 .text-dark-pressed {
    color: $dark-pressed !important;
 }
 .text-dark-focus {
    color: $dark-focus !important;
 }