// Typografi
.text-l-regular {
    font: $text-l-regular !important;
 }
 .text-l-medium {
    font: $text-l-medium !important;
 }
 .text-m-regular {
    font: $text-m-regular !important;
 }
 .text-m-medium {
    font: $text-m-medium !important;
 }
 .text-s-regular {
    font: $text-s-regular !important;
 }
 .text-s-medium {
    font: $text-s-medium !important;
 }
 
 .header-m {
    font: $header-m !important;
 }
 
 .header-s {
    font: $header-s !important;
 }
 
 .header-l {
    font: $header-l !important;
 }
 